/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 25, 2023, 11:17:41 AM
    Author     : itoit
*/


body{
  background-color: greenyellow;  
  margin: 0;
  padding: 90px 20px 0;
  box-sizing: border-box;
}


header {
  position: fixed;
  background-color: red;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  font-family: Courier New;
}

footer {
  position: fixed;  
  background-color: blue;
  color: #fff;
  text-align: center; 
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav { 
display: flex;
justify-content: space-between;
margin: 0 auto;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 90px;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin-right: 40px;
    
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 55px;
}